<h2 style="color:mediumseagreen; text-align:center;"> My Garage! </h2>
Make: <%= @car.make %><br>
Model: <%= @car.model %><br>
Year: <%= @car.year %><br>
<br>
<% if authorized_to_edit?(@car) %>

<a href="/cars/<%= @car.id %>/edit">Edit Car</a>
<br><br>
<form method="post" action="/cars/<%= @car.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>

<% end %>
<br>
<a href="/users/:id">Home</a> <a href="/cars/my_garage">Back</a>